# Data Science Tools and Ecosystem

This is my first notebook for practice and in it "Data Science Tools and Ecosystem" are discussed.

**Objectives:**

List of Job Titles

- Data Scientist
- Data Analyst
- Data Engineer
- Statistician
- Data Architect
- BI Analyst

In [ ]:
Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. TensorFlow
6. PyTorch

| Data Science Tools |
| ------------------ |
| RStudio |
| Jupyter Notebooks |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

(200)/60

3.3333333333333335

## Author

 Nitin